@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: all 300ms linear !important;
}

.container {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}



:root {
    --ff-poppins: "poppins", sans-serif;
    --ff-roboto: "Roboto", sans-serif;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-26: 26px;
    --font-size-24: 24px;
    --font-size-30: 30px;
    --font-size-34: 34px;
    --font-size-36: 36px;
    --font-size-48: 48px;

    --font-weight-sm: 400;
    --font-weight-md: 500;
    --font-weight-lg: 600;
    --font-weight-xl: 700;
    --font-weight-xxl: 800;

    --color-black: black;
    --color-white: white;
    --color-1A9-lgblue: #1A9FFF;
    --form-control-color: rebeccapurple;
    --color-0099: #00000099;
    --color-001A: #0000001A;
    --color-0033: #00000033;
    --color-0014: #00000014;
    --color-FAFA: #FAFAFA;
    --color-red: red;
    --color-red-f42: #F4241E;
    --color-F6E3: #F6E300;
    --color-yellow-FFF03: #FFF03F
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-space-btw {
    justify-content: space-between;
}

.justify-content-space-even {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.flex-direction-col {
    flex-direction: column;
}

.navbar {
    background-color: var(--color-F6E3);
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 4px 35px 0px var(--color-0014);
    padding: 10px 0;
}

.bg-color {
    background-color: var(--color-F6E3);
}

.pt-74 {
    padding-top: 74px;
}

.bg-color-light-yellow {
    background-color: var(--color-yellow-FFF03);
}

.bg-img {
    background-image: url(../images/sec-1-img.png);
    background-repeat: no-repeat;
    height: 32vh;
    background-size: cover;
    background-position: center;
}

.nav-fonts {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-sm);
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-black);
}

.nav-fonts:hover {
    color: var(--color-red);
    /* font-weight: var(--font-weight-lg); */
}

.connect-wallet {
    padding: 12px 32px 12px 32px;
    border-radius: 10px;
    color: var(--color-red);
    border: none;
    font-family: var(--ff-poppins);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.connect-wallet:hover {
    background-color: var(--color-red-f42);
    color: var(--color-white);
}

.gap-38 {
    gap: 38px;
}

.overflow-x-auto {
    overflow-x: auto;
}

.w-200 {
    min-width: 220px;
}

.w-100 {
    width: 100%;
}

.pt-75 {
    padding-top: 75px;
}

.mt-24 {
    margin-top: 24px;
}

.py-114 {
    padding-top: 114px;
    padding-bottom: 114px;
}

.welcome {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-36);
    font-weight: var(--font-weight-xl);
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
    z-index: 2;
}

.z-index-2 {
    z-index: 2;
}

.position-relative {
    position: relative;
}

.position-absolute-burger {
    position: absolute;
}

.mt-30 {
    margin-top: 30px;
}

.burger-tl1 {
    left: 0;
}

.burger-tl2 {
    left: 25%;
}

.burger-bl1 {
    top: 48%;
    left: 0;
}

.burger-bl2 {
    top: 56%;
    left: 20%;
}

.burger-tr1 {
    right: 0;
}

.burger-tr2 {
    right: 25%;
}

.burger-br1 {
    top: 52%;
    right: 0;
}

.burger-br2 {
    top: 52%;
    right: 17%;
}

.sec-4-font {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-xl);
    line-height: 72px;
    letter-spacing: 0em;
    text-align: left;
}

.sec-4-font-2 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-sm);
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 80%;
    color: var(--color-black);
}

.discover-more {
    padding: 15px 32px 15px 32px;
    font-family: var(--ff-roboto);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-md);
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-white);
    background: var(--color-red-f42);
    border: 1px solid var(--color-red-f42);
    border-radius: 10px;
}

.discover-more:hover {
    color: var(--color-red-f42);
    background-color: var(--color-white);
}

.cursor-pointer {
    cursor: pointer;
}

.mt-48 {
    margin-top: 48px;
}

.mb-24 {
    margin-bottom: 24px;
}

.bg-color-red {
    background-color: var(--color-red-f42);
}

.supplies {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-xl);
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-white);
}

.sec-6-font-1 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-xl);
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-white);
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mt-31 {
    margin-top: 31px;
}

.sec-6-font-2 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 32px;
    letter-spacing: 0em;
    opacity: 80%;
    text-align: center;
    color: var(--color-white);
}

/* timeline */
.timeline {
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--color-red-f42);
    top: 17px;
    bottom: -35px;
    left: 50%;
    margin-left: -3px;
}

.container-t {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container-t::after {
    content: '';
    position: absolute;
    Width: 36.03px;
    Height: 36.03px;
    right: -18px;
    background-color: var(--color-white);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
/* .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
} */

/* Add arrows to the right container (pointing left) */
/* .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
} */

/* Fix the circle for containers on the right side */
.right::after {
    left: -18px;
}

/* The actual content */
.content {
    padding: 27px 23px 27px 23px;
    background-color: var(--color-white);
    position: relative;
    border-radius: 6px;
}

.timeline-font-1 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-xl);
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.mt-10 {
    margin-top: 10px;
}

.timeline-font-2 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    letter-spacing: 0em;
}

/* timeline endd */

/* timeline burgers */
.timeline-burger-tl1 {
    left: 18%;
}

.timeline-burger-tl2 {
    top: 39%;
    left: 6%;
}

.timeline-burger-bl1 {
    top: 74%;
    left: 4%;
}

.timeline-burger-bl2 {
    top: 54%;
    left: 25%;
}

.timeline-burger-tr1 {
    right: 2%;
}

.timeline-burger-tr2 {
    right: 24%;
    top: 28%;
}

.timeline-burger-br1 {
    top: 72%;
    right: 3%;
}

.timeline-burger-br2 {
    top: 72%;
    right: 28%;
}

.py-75 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.mb-50 {
    margin-bottom: 50px;
}

.h-100 {
    height: 100%;
}

.roadmap {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-xl);
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
}

.mt-38 {
    margin-top: 38px;
}

.py-42 {
    padding-top: 42px;
    padding-bottom: 42px;
}

.sec-8-heading-font {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-xl);
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
}

.sec-8-font-1 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-xl);
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}

.sec-8-font-2 {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-sm);
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}

.faq {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-xl);
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;
}

.copyright {
    font-family: var(--ff-poppins);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-sm);
    line-height: 32px;
    letter-spacing: 0em;
    /* text-align: center; */
    opacity: 70%;
    color: var(--color-black);
}

.gap-40 {
    gap: 40px;
}

.mt-25 {
    margin-top: 25px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.nav-logo {
    width: 150px;
}

.footer-logo {
    width: 265px;
    margin-top: 20px;
}

.acc-content {
    display: none;
    transition: max-height 1s ease;
}

.a-container {
    background-color: var(--color-yellow-FFF03);
    padding: 23px 30px;
    margin-bottom: 10px;


}

.label {
    font-family: Poppins;
    font-size: var(--font-size-14);
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;

}

.acc-content {
    font-family: Poppins;
    font-size: var(--font-size-14);
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 70%;
    color: var(--color-black);
    background-color: var(--color-yellow-FFF03);
    margin-top: 20px;
}

.width-change {
    max-width: 800px;
}

.social-links {
    margin-top: 26px;
}

.arrow {
    transform: rotate(180deg);
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.faq {
    padding-bottom: 20px;
}

.col-12 {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container-t {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container-t::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 13px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

@media (max-width:1200px) {
    .nav-menu {
        width: 40px;
        height: 34px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        right: 4%;
        transform: translateY(-50%);
        top: 50%;
        z-index: 4;
    }

    .nav-menu span {
        height: 7px;
        width: 100%;
        background-color: var(--color-white);
        border-radius: 3px;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        left: -100%;
        position: fixed;
        background: var(--color-yellow-FFF03);
        z-index: 3;
        transition: all 300ms linear;
        top: 0;
    }

    .show {
        left: 0;
    }
}

@media (max-width:992px) {

    .lg-py-50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .lg-pt-20 {
        padding-top: 20px;
    }
}

@media (max-width:768px) {
    .md-py-70 {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .pt-74 {
        padding-top: 60px;
    }
}

@media (max-width:576px) {
    .sm-py-40 {
        padding-top: 40px 0 !important;
        padding-bottom: 40px !important;
    }

    .sm-py-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .sec-4-font {
        font-size: var(--font-size-34);
        line-height: unset;
    }

    .mt-48 {
        margin-top: 20px !important;
    }

    .pt-74 {
        padding-top: 50px !important;
    }
}

@media (min-width:320px) {
    .sm-col-12 {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sm-d-none {
        display: none;
    }

    .arrow {
        margin-left: 10px;
    }
}

@media (min-width:576px) {
    .sm-col-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sec-6-font-1 {
        font-size: var(--font-size-36);
    }

    .sec-6-font-2 {
        font-size: var(--font-size-14);
    }

    .supplies {
        font-size: var(--font-size-36);
    }

    .footer-logo {
        width: 350px;
        margin-top: 40px;
    }

    .md-d-unset {
        display: unset;
    }

    .nav-logo {
        width: 180px;
    }

    .timeline-font-2 {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-sm);
        letter-spacing: 0em;
    }

    .arrow {
        margin-left: 203px;
    }

    .label {
        font-size: var(--font-size-18);
    }

    .acc-content {

        font-size: var(--font-size-18);
    }
}

@media (min-width:768px) {
    .md-col-4 {
        width: 33.33%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .footer-logo {
        width: unset;
    }

    .nav-logo {
        width: 220px;
    }

    .timeline-font-2 {
        font-family: var(--ff-poppins);
        font-size: var(--font-size-24);
        font-weight: var(--font-weight-sm);
        letter-spacing: 0em;
    }

    .sec-6-font-1 {
        font-size: var(--font-size-48);
    }

    .sec-6-font-2 {
        font-size: var(--font-size-16);
    }

    .supplies {
        font-size: var(--font-size-48);
    }
}

@media (min-width:992px) {
    .lg-col-7 {
        width: 58.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .lg-col-5 {
        width: 41.66%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .lg-col-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }
}